@media screen and (max-width: 699px) {
    .logo-side img{
        min-height: 400px;
    }

    /* header */
    .header{
        background-color: #fff;
    }
    /* end of header*/
    /* navbar */
    .nav {
        z-index: 10;
        background-color: #f8fdff;
        width: 100%;
        top: 60px;
        position: absolute;

        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(0, -300px);
        transform: translate(0, -300px);

        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav-item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
    }
    /* end of navbar */



    /* hero */
    .hero{
        padding-top: 70px;
        grid-template-columns: 1fr;
    }
    .text-side .main-heading{
        font-size: 1.5rem;
    }

    .logo-side img{
        width: 100%;
    }

    /* end of hero */



    /* problem-sales*/
    .problem-sales .wrapper{
        flex-direction: column;
    }

    .problem-sales h1{
        font-size: 1.5rem;
    }
    /* end of problem-sales*/



    /* why-bit-pos*/
    .why-bit .card-wrapper{
        grid-template-rows: auto;
    }
    .why-bit h1{
        font-size: 1.5rem;
    }
    /* end of why-bit-pos */



    /* price */
    .price{
        flex-direction: column;
        padding-top: 80px;
    }
    .content-right .image{
        max-width: 500px;
    }
    .content-left .text-side h1{
        font-size: 2rem;
    }
    .content-left .text-side h4{
        font-size: 1rem;
    }
    .content-left .text-side .btn-contact-us{
        margin-top: 1rem;
        font-size: 1rem;
        padding: 15px 30px;
    }
    /* end of price */


    
    /* fitur */
    .fitur .wrapper{
        grid-template-rows: auto;
    }
    .fitur h1{
        font-size: 1.5rem;
    }
    .wrapper .item{
        padding: 20px 50px;
    }

    .wrapper .item img{
        width: 100%;
        max-width: 150px;
    }
    /* end of fitur */



    /* start-with-bit-pos */
    .container-start-with-bit-pos .card-wrapper{
        grid-template-rows: auto;
    }
    .container-start-with-bit-pos h1{
        font-size: 1.5rem;
    }
    .container-start-with-bit-pos p{
        font-size: small;
    }
    .container-start-with-bit-pos{
        padding: 30px;
    }

    .container-start-with-bit-pos .card-wrapper .card img{
        width: 100%;
    }
    /* end of start-with-bit-pos*/



    /* footer */
    .footer .menu-wrapper .menu{
        flex-direction: column;
    }

    .paragraph p{
        font-size: 10px;
    }
    /* end of footer*/
    
}

@media screen and (max-width: 799px) {
    .text-side .main-heading{
        font-size: 1.8rem;
    }

    .text-side .sub-heading{
        font-size: 0.8rem;
    }

    .text-side .btn-try-free{
        margin-top: 1rem;
        font-size: 1rem;
        padding: 15px 40px;
    }

    .wrapper .item{
        padding: auto;
    }

   
}

@media screen and (min-width: 700px) {
    .header{
        background-color: white;
        opacity: 0.5;
    }
    .nav-list {
        padding: 10px 0px;
    }
    .header-title{
        font-size: 2rem;
    }
    .header-menu{
        display: none;
    }

    .nav-item {
        width: 25%;
    }

    .hero{
        grid-template-columns: 1fr 1fr;
    }

    .bg-hero{
        background-image: url("../image/Group 61.png");
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: right;
    }

    .text-side .main-heading{
        font-size: 1.8rem;
    }

    .text-side .sub-heading{
        font-size: 0.9rem;
    }

    .logo-side img{
        width: 100%;
        min-height: 325px;
        max-height: 574px;
    }

    .why-bit .card-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }

    .fitur .wrapper{
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 150px;
    }

    .content-left .text-side h1{
        font-size: 3rem;
    }
    .content-left .text-side h4{
        font-size: 0.9rem;
    }

    .content-left .text-side .btn-contact-us{
        margin-top: 1rem;
        font-size: 1rem;
        padding: 15px 40px;
    }

    .container-start-with-bit-pos .card-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
    .container-start-with-bit-pos .card-wrapper .card img{
        width: 100%;
    }
}

@media screen and (min-width: 800px){
    .header-title{
        font-size: 2.4rem;
    }
    .text-side .btn-try-free{
        margin-top: 1rem;
        font-size: 1.2rem;
        padding: 15px 60px;
    }

    .wrapper .item{
        padding: 40px 60px;
    }
}

@media screen and (min-width: 999px){
    .nav-item {
        width: 15%;
    }   
    .text-side .btn-try-free{
        margin-top: 1rem;
        font-size: 1.5rem;
        padding: 15px 60px;
    }
    .logo-side img{
        min-height: 574px;
        object-fit: fill;
    }

    .text-side .main-heading{
        font-size: 2.4rem;
    }

    .text-side .sub-heading{
        font-size: 1.25rem;
    }   

    .content-left .text-side h1{
        font-size: 4.375rem;
    }
    .content-left .text-side h4{
        font-size: 1.5rem;
    }

    .content-left .text-side .btn-contact-us{
        margin-top: 1rem;
        font-size: 1.5rem;
        padding: 15px 90px;
        border-radius: 2rem;
        background-color: #FF871E;
        color: white;
        border-style: none;
    }
}