@media screen and (max-width: 699px) {
    .logo-side img{
        min-height: 400px;
    }

    /* header */
    .header{
        background-color: #fff;
    }
    /* end of header*/
    /* navbar */
    .nav {
        z-index: 10;
        background-color: #f8fdff;
        width: 100%;
        top: 60px;
        position: absolute;

        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(0, -300px);
        transform: translate(0, -300px);

        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav-item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
    }
    /* end of navbar */



    /* hero */
    .text-side .main-heading{
        font-size: 1.5rem;
    }

    .text-side .btn-try-free{
        margin-top: 1rem;
        font-size: 1rem;
        padding: 15px 50px;
    }

    .logo-side img{
        min-height: 400px;
    }

    /* end of hero */



    /* problem-sales*/
    .problem-sales .wrapper{
        flex-direction: column;
    }

    .problem-sales h1{
        font-size: 1.5rem;
    }
    /* end of problem-sales*/



    /* why-bit-pos*/
    .why-bit .card-wrapper{
        grid-template-rows: auto;
    }
    .why-bit h1{
        font-size: 1.5rem;
    }
    /* end of why-bit-pos */



    /* price */
    .price{
        flex-direction: column;
        padding-top: 80px;
    }
    .content-right .image{
        max-width: 500px;
    }
    .content-left .text-side h1{
        font-size: 2rem;
    }
    .content-left .text-side h4{
        font-size: 1rem;
    }
    .content-left .text-side .btn-contact-us{
        margin-top: 1rem;
        font-size: 1rem;
        padding: 15px 30px;
    }
    /* end of price */


    
    /* fitur */
    .fitur .wrapper{
        grid-template-rows: auto;
    }
    .fitur h1{
        font-size: 1.5rem;
    }
    .wrapper .item{
        padding: 20px 50px;
    }

    .wrapper .item img{
        width: 100%;
        max-width: 150px;
    }
    /* end of fitur */



    /* start-with-bit-pos */
    .container-start-with-bit-pos .card-wrapper{
        grid-template-rows: auto;
    }
    .container-start-with-bit-pos h1{
        font-size: 1.5rem;
    }
    .container-start-with-bit-pos p{
        font-size: small;
    }
    .container-start-with-bit-pos{
        padding: 30px;
    }

    .container-start-with-bit-pos .card-wrapper .card img{
        width: 100%;
    }
    /* end of start-with-bit-pos*/



    /* footer */
    .footer .menu-wrapper .menu{
        flex-direction: column;
    }

    .paragraph p{
        font-size: 10px;
    }
    /* end of footer*/
    
}

@media screen and (max-width: 799px) {
    .hero{
        padding-top: 70px;
        flex-direction: column;
    }

    .logo-side img{
        width: 100%;
        max-height: 574px;
    }
   
}

@media screen and (min-width: 700px) {
    .header-menu{
        display: none;
    }

    .nav-item {
        width: 25%;
    }

    .bg-hero{
        background-image: url("../image/Vector 15.png");
        background-size: auto;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: right;
    }
    .why-bit .card-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }

    .fitur .wrapper{
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 150px;
    }

    .wrapper .item{
        padding: 40px 60px;
    }
    .container-start-with-bit-pos .card-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
    .container-start-with-bit-pos .card-wrapper .card img{
        width: 100%;
    }
}

@media screen and (min-width: 1000px){
    .nav-item {
        width: 15%;
    }   
}