@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&family=Roboto+Serif:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1200px;
    margin: auto;
}

/* header */

.navbar .nav-wrapper{
    position: relative;
    top: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.nav-wrapper .logo{
    text-decoration: none;
    font-size: 2.8rem;
    color: #1789DC;
    font-family: 'Poppins', sans-serif;
}

.nav-wrapper .menu-wrapper{
    display: flex;
    gap: 100px;
}

.nav-wrapper .menu-wrapper .menu{
    display: flex;
    align-items: center;
    gap: 70px;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.menu li a:hover{
    color: #1789DC;
}

.nav-wrapper .menu-toggle{
    display: none;
}

/* end of header */

/* hero */
.hero{
    display: flex;
    justify-content: space-between;
}

.hero .left-side{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .left-side .text-side{
    padding: 50px;
}

.text-side .main-heading{
    font-size: 2.5rem;
}

.text-side .main-heading span{
    color: #1789DC;
}

.text-side .sub-heading{
    font-size: 1.25rem;
}

.text-side .btn-try-free{
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 15px 90px;
    border-radius: 2rem;
    background-color: #FF871E;
    color: white;
    border-style: none;
}

.logo-side img{
    min-height: 574px;
}
/* end of hero */

/* problem sales */
.problem-sales h1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #1789DC;
}

.problem-sales .wrapper{
    display: flex;
    justify-content: space-between;
}

.problem-sales .wrapper .inner{
    display: flex;
    align-items: center;
}

.problem-sales .wrapper .text-side{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 15px;
}

.problem-sales .text-side .problem{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    justify-content: left;
}

.problem-sales .text-side .problem img{
    max-width: 72px;
}
.problem-sales .text-side .problem p{
    justify-items: left;
} 

.problem-sales .logo-side img{
    max-height: 476px;
}
/* end of problem sales*/

/* why-bit */
.container-width-why-bit{
    width: 100%;
    background-color: #F0FBFF;
}
.why-bit{
    padding: 50px 0;
}
.why-bit h1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #1789DC;
    padding: 30px;
}
.why-bit .card-wrapper{
    display: grid;
    gap: 40px;
}

.why-bit .card{
    padding: 90px 40px;
    background-color: white;
    display: grid;
    grid-template-rows: auto;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px #89deff;
    justify-content: center;
}

/* end pf why-bit*/

/* price */
.container-width{
    width: 100%;
    background-color: #4DB4FE;
}
.price{
    display: flex;
    justify-content: space-between;
}
.price .content-left{
    display: flex;
    align-items: center;
}
.content-left .text-side{
    color: white;

}
.content-left .text-side h1{
    font-size: 4.375rem;
}
.content-left .text-side h4{
    font-size: 1.5rem;
}
.content-left .text-side s{
    text-decoration-color: #F39C12;
} 
.content-left .text-side .btn-contact-us{
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 15px 90px;
    border-radius: 2rem;
    background-color: #FF871E;
    color: white;
    border-style: none;
}
.content-right img{
    max-width: 600px;
    width: 100%;
    padding-top: 25px;
}
/* end of price */

/* fitur */
.fitur{
    width: 100%;
}
.fitur h1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #101111;
    padding: 30px;
}
.fitur .wrapper{
    display: grid;
    padding: 50px 150px;
    gap: 40px;
}
.wrapper .item{
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    padding: 40px 60px;
}

.wrapper .item p{
    text-align: justify;
}
.fitur a{
    text-decoration: none;
}
.fitur span{
    color: #1789DC;
}
/* end of fitur */

/* start with bit pos */
.container-start-with-bit-pos{
    padding: 50px 150px;
    width: 100%;
    background-color: #F0FBFF;
}
.container-start-with-bit-pos h1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #101111;
}
.container-start-with-bit-pos a{
    text-decoration: none;
}
.container-start-with-bit-pos span{
    color: #1789DC;
}
.container-start-with-bit-pos p{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    color: #858585;
}
.container-start-with-bit-pos .card-wrapper{
    display: grid;
    gap: 40px;
}

.container-start-with-bit-pos .card{
    padding: 20px;
    background-color: white;
    display: grid;
    grid-template-rows: auto;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px #89deff;
    justify-content: center;
}
/* end start with bit pos */


/* footer */
footer{
    width: 100%;
    padding: 50px 20px;
}
.footer .logo{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 2.75rem;
    color: #1789DC;
    font-family: 'Poppins', sans-serif;
}
.footer .menu-wrapper{
    padding: 20px 20px;
    display: flex;
    justify-content: center;
}

.footer .menu-wrapper .menu{
    display: flex;
    align-items: center;
    gap: 35px;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.menu li a:hover{
    color: #1789DC;
}
.footer .icon{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.icon a{
    color: #969696;
}
.paragraph p{
    color: #ABABAB;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.paragraph p a{
    color: #1789DC;
    text-decoration: none;
}
/* end of footer */


@media screen and (max-width: 500px) {
    .nav-wrapper .menu-wrapper{
        display: none;
    }

    .nav-wrapper .menu-toggle{
        display: block;
    }

    .hero{
        flex-direction: column;
    }

    .logo-side img{
        width: 100%;
        max-height: 574px;
    }

    .why-bit .card-wrapper{
        grid-template-rows: auto;
    }

    .fitur .wrapper{
        grid-template-rows: auto;
    }

    .container-start-with-bit-pos .card-wrapper{
        grid-template-rows: auto;
    }

    .footer .menu-wrapper .menu{
        flex-direction: column;
    }

    .paragraph p{
        font-size: 10px;
    }
    .problem-sales .wrapper{
        flex-direction: column;
    }
    .price{
        flex-direction: column;
    }
    
    .content-right .image{
        max-width: 500px;
    }
    .nav-wrapper .logo{
        font-size: 1.5rem;
    }
    .text-side .main-heading{
        font-size: 1.5rem;
    }
    .text-side .btn-try-free{
        margin-top: 1rem;
        font-size: 1rem;
        padding: 15px 50px;
    }
    .logo-side img{
        min-height: 400px;
    }
    .problem-sales h1{
        font-size: 1.5rem;
    }
    .logo-side img{
        min-height: 400px;
    }
    .why-bit h1{
        font-size: 1.5rem;
    }
    .content-left .text-side h1{
        font-size: 2rem;
    }
    .content-left .text-side h4{
        font-size: 1rem;
    }
    .content-left .text-side .btn-contact-us{
        margin-top: 1rem;
        font-size: 1rem;
        padding: 15px 30px;
    }
    .fitur h1{
        font-size: 1.5rem;
    }
    .container-start-with-bit-pos h1{
        font-size: 1.5rem;
    }
    .container-start-with-bit-pos p{
        font-size: small;
    }
    .container-start-with-bit-pos{
        padding: 30px;
    }
}

@media screen and (min-width: 700px) {
    .why-bit .card-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }

    .fitur .wrapper{
        grid-template-columns: repeat(2, 1fr);
    }

    .container-start-with-bit-pos .card-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }

    
}