@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&family=Roboto+Serif:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1200px;
    margin: auto;
}

/* header */

.navbar .nav-wrapper{
    position: relative;
    top: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.nav-wrapper .logo{
    text-decoration: none;
    font-size: 2.8rem;
    color: #1789DC;
    font-family: 'Poppins', sans-serif;
}

.nav-wrapper .menu-wrapper{
    display: flex;
    gap: 100px;
}

.nav-wrapper .menu-wrapper .menu{
    display: flex;
    align-items: center;
    gap: 70px;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.nav-wrapper .menu-toggle{
    display: none;
}

/* end of header */

/* hero */
.hero{
    display: flex;
    justify-content: space-between;
}

.hero .left-side{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .left-side .text-side{
    padding: 50px;
}

.text-side .main-heading{
    font-size: 2.5rem;
}

.text-side .main-heading span{
    color: #1789DC;
}

.text-side .sub-heading{
    font-size: 1.25rem;
}

.text-side .btn-try-free{
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 15px 90px;
    border-radius: 2rem;
    background-color: #FF871E;
    color: white;
    border-style: none;
}

.logo-side img{
    min-height: 574px;
}
/* end of hero */

/* problem sales */
.problem-sales h1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #1789DC;
}

.problem-sales .wrapper{
    display: flex;
    justify-content: space-between;
}

.problem-sales .wrapper .inner{
    display: flex;
    align-items: center;
}

.problem-sales .wrapper .text-side{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 15px;
}

.problem-sales .text-side .problem{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    justify-content: left;
}

.problem-sales .text-side .problem img{
    max-width: 72px;
}
.problem-sales .text-side .problem p{
    text-align: left;
} 

.problem-sales .logo-side img{
    max-height: 476px;
}
/* end of problem sales*/

/* why-bit */
.why-bit{
    padding: 50px 0;
}
.why-bit h1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #1789DC;
}
.why-bit .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.why-bit .card{
    padding: 90px 40px;
    background-color: white;
    display: grid;
    grid-template-rows: auto;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px #89deff;
    justify-content: center;
}

/* end pf why-bit*/

/* price */
.price{
    display: flex;
    justify-content: space-between;
    background-color: blue;
}
/* end of price */
@media screen and (max-width: 500px) {
    .menu{
        display: none;
    }
}